
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}

ul{
list-style-type: none;
}

a{
    text-decoration: none;
    padding: 10px;
}
.hr-bottom{
    width: 80px;
    border:6px dotted #ffefef;
    border-bottom: none;
     margin: 10px auto;;
}
.hr-top{
    width: 95%;
    border: 2px solid white;
    margin: 10px auto;
}
.content-box:after{
    content: "";
    display: table;
    clear: both;
}
.navbar{
    background-color: rgb(13, 166, 13) ;
    text-align: center;
}
.navbar-logo img {
    height: 100px;
    width:100px;

}
[class*="col-"]{
    float: left;
    padding: 10px;
}
[class*="col-"]{
    width: 100%;
}

.navbar-heading h2{
    color: white;
    font-size: 30px;
}
.navber-menu{
 display: block;
}

.navbar-menu a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
 background-color: aqua;
 width: 200px;
 font-size: large;
} 
.navbar-menu :hover{
    background-color: beige;
    color: blue;
}
.navbar:after{
    content: "";
    display: table;
    clear: both;
}


.image-top{
    display: flex;
  justify-content: end;
}
.image-top img {
    height: 100px;
    width: 100px;
    display: block;
  margin: 10px 20px;
}
.image-top img:hover{
    transform: rotate(360deg);
    transition: 0.2s;
   width:120px 
}
.image-content{
    width: 90%;
    margin: 5px auto;
}
.image-content h2{
    text-align: center;
    font-family:Momo Signature ;
    font-size:40px;
    margin-bottom: 10px;
    text-transform: uppercase;
   
}
.image-content p{
    font-size: medium;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    line-height: 1.5;
}

.image-bottom img {
    height: 100px;
    width: 100px;
    margin-top: 30px;
}
.image-bottom img:hover{
    transform: rotate(360deg);
    transition: 0.2s;
    width: 130px;
}

.about{
    background-color: aqua;
}
.about h3{
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: aliceblue;
}
.about-img{
    width: 50%;
}
.about-img img{
     height: 250px;
     width: 250px;
     border-radius: 50%;
     margin: 0px auto;
     overflow: none;
     margin-left: 20px;
     margin-top: 80px;
}

.about-content{
    float: right;
    width: 50%;
     box-sizing: border-box;
}
.about-content p{
    padding: 10px 0px;
    line-height: 1.5;
 
}
.about-content li{
    padding: 20px;
}
.about-content li a{
    color: rgb(81, 108, 182);
    font-size: large;
}

.about:after{
    content: "";
    display: table;
    clear: both;
}

.skill{
    width: 95%;
    margin: 0px auto;
     box-sizing: border-box;
}

.card1{
    background-color: gray;
    margin:20px 5px;
    box-sizing: border-box;
    float: left;

}
.card1 img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}
.card1 .card-logo h3{
    text-align: center;
    background-color: aquamarine;
    font-size: larger;
    padding: 15px;
    box-sizing: border-box;
}
.card1:hover{
     box-shadow: 5px 10px 18px #888888;
}
.card1 .card-content{
    box-sizing: border-box;
    padding: 0 17px;
}

.card1 .card-content p{
    line-height: 1.5;
    margin-top: 5px;
}


.skill:after{
    content: "";
    display: table;
    clear: both;
}

.mix{
    background-color: aqua;
}
.mix1{
    padding: 15px 20px;
}
.mix-content p{
    text-transform:justify;
    line-height: 1.5;
    word-spacing: 10px;
    margin-top: 10px;
}
.heading h3{
    text-align: center;
    padding: 10px 0px;
}


.mix:after{
    content: "";
    display: table;
    clear: both;
}

.footer{
    background-color: black;
}


.footer-menu a{
    display: block;
    text-align: center;
    color: #ffefef;
    width: 50%;
    margin: 0 auto;
}
.footer-menu a:hover{
    background-color: aqua;
    color: black;
}

.footer P{
    color: white;
    padding: 10px;
    text-align: center;
}
.footer-con span{
    color: aqua;
}

.footer:after{
    content: "";
    display: table;
    clear: both;
}
.contact-from input{
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}
textarea{
    resize: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    display: block;
}
button{
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin: 10px 10px;
    margin-left: 30px;
}